In [1]:
# 데이터 확인
import pandas as pd

In [10]:
# 데이터 확인
df = pd.read_csv('score.txt', sep='\t', index_col='지원번호')
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [11]:
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [12]:
df.shape

(8, 9)

In [17]:
# 데이터선택 loc lioc
df.loc['1번']
df.loc[['1번', '3번'], '영어']

지원번호
1번    85
3번    75
Name: 영어, dtype: int64

In [18]:
df.loc['1번', '국어'] # 1번의 국어 성적
df.loc['1번' : '5번', '국어':'사회'] #1번~5번의 국어~사회의 성적

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

In [28]:
# 데이터선택 lioc
df.iloc[0:3] # 0~3까지 인덱스 정보 가져옴
df.iloc[1,1] # 1번 인덱스의 첫번째 컬럼
df.iloc[[0,2], [1,3]] # 0~2번째 인덱스의 1,3번째 데이터
df.iloc[1:4, 3:7] # 1~4번째 인덱스의 3~7번째 데이터

      국어  영어  수학  과학
지원번호
2번    40  35  50  55
3번    80  75  70  80
4번    40  60  70  75